#carrusel {
    height: 100%;
    padding: 0;
    margin: 0 auto;
    min-height: 250px;
    position: relative;
    z-index: 1000;
    text-align:center;
    max-width:600px;
}

#boton {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }